@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a,
a:visited {
  background-color: transparent;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  font-family: 'YandexFontMedium', sans-serif;
  font-weight: 500;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

b,
strong {
  font-weight: bolder; }

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

img {
  vertical-align: top;
  border-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

.container {
  margin: 0 32px 0 32px; }
  @media (min-width: 550px) {
    .container {
      margin: 0 45px 0 45px; } }
  @media (min-width: 576px) {
    .container {
      margin: 0 80px 0 80px; } }
  @media (min-width: 600px) {
    .container {
      margin: 0 100px 0 100px; } }
  @media (min-width: 768px) {
    .container {
      margin: 0 140px 0 140px; } }
  @media (min-width: 992px) {
    .container {
      margin: 0 200px 0 200px; } }
  @media (min-width: 1440px) {
    .container {
      margin: 0 262px 0 262px; } }
  @media (min-width: 1780px) {
    .container {
      margin: 0 380px 0 380px; } }
  @media (min-width: 1920px) {
    .container {
      margin: 0 400px 0 400px; } }

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  width: 100%; }
  .button::selection {
    background: transparent; }

.text {
  font-size: 16px;
  color: #21201f;
  word-break: keep-all; }
  .text__size_13 {
    font-size: 13px; }

h1 {
  line-height: 36px;
  font-weight: 900;
  font-size: 32px; }

.icon {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .icon__logo {
    width: 112.4px;
    height: 32px;
    margin: 32px 0; }
  .icon__stamp {
    width: 79.932px;
    height: 79.932px;
    transform: rotate(3.699deg);
    position: absolute;
    bottom: 53px;
    left: 70px; }

.align-center {
  text-align: center; }

.v-center {
  margin: auto 0; }

.pt-25 {
  padding-top: 25px; }

.pb-25 {
  padding-bottom: 25px; }

.pl-25 {
  padding-left: 25px; }

.pr-25 {
  padding-right: 25px; }

.mb-25 {
  margin-bottom: 25px; }

.ml-25 {
  margin-left: 25px; }

.d-flex {
  display: flex; }

.dn {
  display: none; }

.opacity-7 {
  opacity: 70%; }

.hero {
  background: linear-gradient(0deg, white, rgba(255, 255, 255, 0.2)), linear-gradient(90deg, rgba(255, 92, 77, 0.2) 0%, rgba(235, 70, 159, 0.2) 25%, rgba(131, 65, 239, 0.2) 72%, rgba(63, 104, 249, 0.2) 100%); }
  .hero__inner {
    display: flex;
    flex-direction: column; }
  .hero__text {
    display: flex;
    flex-direction: column;
    z-index: 1; }
    .hero__text_description {
      margin-top: 35px;
      font-size: 18px;
      line-height: 23.4px; }
    .hero__text_price-sale {
      text-decoration: line-through;
      z-index: -1;
      height: 23px;
      position: absolute;
      right: -45px;
      top: 0;
      width: 75px;
      background: rgba(215, 188, 254, 0.6);
      padding-right: 5px;
      border-radius: 25px;
      color: gray;
      text-align: end; }
    .hero__text_price {
      display: inline-block;
      height: 23px;
      z-index: 0;
      position: relative;
      color: #21201f;
      background: radial-gradient(circle, #e0b8ff, #b6b9ff);
      padding: 0 5px;
      border-radius: 25px; }
  .hero__img {
    position: relative;
    height: 265.639px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .hero__img img {
      left: -12px;
      position: absolute;
      width: 319.798px;
      height: 265.639px;
      transform: rotate(-8.008deg); }

@media (min-width: 510px) {
  .hero__inner {
    flex-direction: row; }
  .hero__img {
    height: auto; }
    .hero__img img {
      left: -160px;
      height: auto; }

  .icon__stamp {
    bottom: 65px;
    left: -75px; } }
@media (min-width: 768px) {
  .hero__inner {
    padding-top: 50px; }
  .hero__text h1 {
    font-size: 45px;
    line-height: 45px; }
  .hero_description {
    font-size: 22px; }
  .hero__img img {
    bottom: -55px;
    left: -100px;
    width: 405px; }

  .icon__stamp {
    bottom: 45px;
    left: 10px;
    width: 100px; } }
@media (min-width: 992px) {
  .hero__text h1 {
    font-size: 60px;
    line-height: 55px; }
  .hero__text_description {
    font-size: 24px;
    line-height: 31.2px; }
  .hero__text_price {
    height: 30px; }
  .hero__text_price-sale {
    height: 30px; }
  .hero__img img {
    bottom: -75px;
    left: -135px;
    width: 505px; }

  .icon__logo {
    width: 176px;
    height: 50px; }
  .icon__stamp {
    bottom: 61px;
    left: 3px;
    width: 120px; } }
@media (min-width: 1240px) {
  .hero__text h1 {
    font-size: 70px;
    line-height: 70px; }
  .hero__img img {
    bottom: -125px;
    left: -120px;
    width: 640px; }

  .icon__stamp {
    bottom: 60px;
    left: 55px;
    width: 155px; } }
@media (min-width: 1440px) {
  .hero__text h1 {
    font-size: 72px;
    line-height: 72px; }
  .hero__img img {
    bottom: -200px;
    width: 744px;
    left: -115px; }
  .hero .icon__stamp {
    bottom: 25px;
    left: 80px;
    width: 195px; } }

/*# sourceMappingURL=style.css.map */
