@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a,
a:visited {
  background-color: transparent;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  font-family: 'YandexFontMedium', sans-serif;
  font-weight: 500;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

ul li {
  list-style: none; }

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

address {
  text-decoration: none;
  list-style: none; }

img {
  vertical-align: top;
  border-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

.container {
  margin: 0 32px 0 32px; }
  @media (min-width: 576px) {
    .container {
      margin: 0 30px 0 30px; } }

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  width: 100%; }
  .button::selection {
    background: transparent; }

.text {
  font-size: 16px;
  color: #21201f;
  word-break: keep-all; }
  .text__size_13 {
    font-size: 13px; }

h1 {
  line-height: 36px;
  font-weight: 900;
  font-size: 32px; }

.icon {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .icon__logo {
    width: 112.4px;
    height: 32px;
    margin: 32px 0; }

.align-center {
  text-align: center; }

.v-center {
  margin: auto 0; }

.pt-25 {
  padding-top: 25px; }

.pb-25 {
  padding-bottom: 25px; }

.pl-25 {
  padding-left: 25px; }

.pr-25 {
  padding-right: 25px; }

.mb-25 {
  margin-bottom: 25px; }

.ml-25 {
  margin-left: 25px; }

.d-flex {
  display: flex; }

.dn {
  display: none; }

.opacity-7 {
  opacity: 70%; }

.hero {
  background: linear-gradient(0deg, white, rgba(255, 255, 255, 0.2)), linear-gradient(90deg, rgba(255, 92, 77, 0.2) 0%, rgba(235, 70, 159, 0.2) 25%, rgba(131, 65, 239, 0.2) 72%, rgba(63, 104, 249, 0.2) 100%);
  height: 636px; }
  .hero__inner {
    display: flex;
    flex-direction: column; }
  .hero__text {
    display: flex;
    flex-direction: column; }
    .hero__text_description {
      margin-top: 35px;
      font-size: 18px;
      line-height: 23.4px; }
    .hero__text_price-sale {
      z-index: -1;
      height: 23px;
      position: absolute;
      right: -45px;
      top: 0;
      width: 75px;
      background: rgba(215, 188, 254, 0.6);
      padding-right: 5px;
      border-radius: 25px;
      color: gray;
      text-align: end; }
    .hero__text_price {
      display: inline-block;
      height: 23px;
      z-index: 0;
      position: relative;
      color: #21201f;
      background: radial-gradient(circle, #e0b8ff, #b6b9ff);
      padding: 0 5px;
      border-radius: 25px; }

/*# sourceMappingURL=style.css.map */
