@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a,
a:visited {
  background-color: transparent;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  font-family: 'YandexFontMedium', sans-serif;
  color: #21201F;
  font-weight: 500;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

b,
strong {
  font-weight: bolder; }

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

img {
  vertical-align: top;
  border-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

.container {
  margin: 0 32px 0 32px; }
  @media (min-width: 550px) {
    .container {
      margin: 0 45px 0 45px; } }
  @media (min-width: 576px) {
    .container {
      margin: 0 80px 0 80px; } }
  @media (min-width: 600px) {
    .container {
      margin: 0 100px 0 100px; } }
  @media (min-width: 768px) {
    .container {
      margin: 0 140px 0 140px; } }
  @media (min-width: 992px) {
    .container {
      margin: 0 200px 0 200px; } }
  @media (min-width: 1440px) {
    .container {
      margin: 0 262px 0 262px; } }
  @media (min-width: 1780px) {
    .container {
      margin: 0 380px 0 380px; } }
  @media (min-width: 1920px) {
    .container {
      margin: 0 400px 0 400px; } }

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  width: 100%; }
  .button::selection {
    background: transparent; }

.text {
  font-size: 16px;
  color: #21201f;
  word-break: keep-all; }
  .text__size_13 {
    font-size: 13px; }

h1 {
  line-height: 36px;
  font-weight: 900;
  font-size: 32px; }

h3 {
  letter-spacing: -0.64px;
  font-size: 32px;
  font-weight: 900;
  line-height: 100%;
  /* 32px */
  max-width: 610px;
  margin-bottom: 32px; }

.icon {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .icon__logo {
    width: 112.4px;
    height: 32px;
    margin: 32px 0; }
  .icon__stamp {
    width: 79.932px;
    height: 79.932px;
    transform: rotate(3.699deg);
    position: absolute;
    bottom: 53px;
    left: 70px; }
  .icon__stamp-scooter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .icon__advantages {
    margin-right: 16px;
    min-width: 83px;
    height: 83px; }
  .icon__quotes {
    position: absolute;
    top: -80px;
    right: 50px;
    width: 77.721px;
    height: 39.418px;
    z-index: 2; }
  .icon__coffee {
    position: absolute;
    bottom: -240px;
    right: -280px;
    z-index: 2; }
  .icon__geolocation {
    position: absolute;
    top: -180px;
    left: -255px;
    z-index: 2;
    transform: rotate(-15deg); }

.hero {
  background: linear-gradient(0deg, white, rgba(255, 255, 255, 0.2)), linear-gradient(90deg, rgba(255, 92, 77, 0.2) 0%, rgba(235, 70, 159, 0.2) 25%, rgba(131, 65, 239, 0.2) 72%, rgba(63, 104, 249, 0.2) 100%);
  height: 636px; }
  .hero__inner {
    display: flex;
    flex-direction: column; }
  .hero__text {
    display: flex;
    flex-direction: column;
    z-index: 1; }
    .hero__text_description {
      margin-top: 35px;
      font-size: 18px;
      line-height: 23.4px; }
    .hero__text_price-sale {
      text-decoration: line-through;
      z-index: -1;
      height: 23px;
      position: absolute;
      right: -45px;
      top: 0;
      width: 75px;
      background: rgba(215, 188, 254, 0.6);
      padding-right: 5px;
      border-radius: 25px;
      color: gray;
      text-align: end; }
    .hero__text_price {
      display: inline-block;
      height: 23px;
      z-index: 0;
      position: relative;
      color: #21201f;
      background: radial-gradient(circle, #e0b8ff, #b6b9ff);
      padding: 0 5px;
      border-radius: 25px; }
  .hero__img {
    position: relative;
    height: 265.639px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .hero__img img {
      left: -12px;
      position: absolute;
      width: 319.798px;
      height: 265.639px;
      transform: rotate(-8.008deg); }

.advantages {
  margin-bottom: 72px; }
  .advantages__head {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 24px;
    letter-spacing: -1.12px;
    line-height: 100%; }
  .advantages__inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 24px;
    line-height: 120%; }
  .advantages__item {
    display: flex;
    flex-direction: row;
    align-items: center; }

.event__inner-sm {
  position: relative; }
.event__inner-md {
  display: none;
  margin-top: 100px;
  justify-content: center;
  transform: rotate(2deg); }
.event__inner-md-img {
  border-radius: 50px;
  margin-bottom: 8px; }
.event__left {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  position: relative; }
.event__right {
  display: flex;
  flex-direction: column;
  margin-top: -125px;
  position: relative; }
.event__button {
  display: flex;
  justify-content: center;
  margin-top: 48px; }

.swiper-container {
  margin-top: 47px;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
    /* Закругленные края */ }

.swiper-button-prev,
.swiper-button-next {
  background-color: #FFDE40;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: static;
  cursor: pointer; }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    content: ''; }
  .swiper-button-prev svg,
  .swiper-button-next svg {
    width: 27px;
    height: 24px; }

.swiper-button-prev {
  margin-right: 12px; }

.subscription__inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px; }
  .subscription__inner_ellipse {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.29;
    background: #8241EF;
    filter: blur(100px); }
.subscription__scooter {
  display: none;
  position: relative; }
  .subscription__scooter_i {
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    max-width: 680px; }
  .subscription__scooter_plus {
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%); }
.subscription__scooter-visible {
  position: relative;
  min-height: 285px; }
  .subscription__scooter-visible_i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 188.853px;
    height: 262.225px; }

@media (min-width: 510px) {
  .hero {
    height: 370px; }
    .hero__inner {
      flex-direction: row; }
    .hero__img {
      height: auto; }
      .hero__img img {
        left: -160px;
        height: auto; }

  .icon__stamp {
    bottom: 65px;
    left: -75px; } }
@media (min-width: 768px) {
  .hero {
    height: 460px; }
    .hero__inner {
      padding-top: 50px; }
    .hero__text h1 {
      font-size: 45px;
      line-height: 45px; }
    .hero_description {
      font-size: 22px; }
    .hero__img img {
      bottom: -55px;
      left: -100px;
      width: 405px; }

  .icon__stamp {
    bottom: 45px;
    left: 10px;
    width: 100px; } }
@media (min-width: 992px) {
  .hero {
    height: 530px; }
    .hero__text h1 {
      font-size: 60px;
      line-height: 55px; }
    .hero__text_description {
      font-size: 24px;
      line-height: 31.2px; }
    .hero__text_price {
      height: 30px; }
    .hero__text_price-sale {
      height: 30px; }
    .hero__img img {
      bottom: -75px;
      left: -135px;
      width: 505px; }

  .advantages {
    margin-bottom: 128px; }
    .advantages__head {
      font-size: 56px;
      margin-bottom: 48px;
      max-width: 680px; }
    .advantages__inner {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 61px;
      grid-column-gap: 112px;
      font-size: 24px; }
    .advantages__item {
      display: flex;
      flex-direction: column;
      align-items: start; }

  .subscription__inner {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 90px; }
  .subscription__scooter {
    display: block; }
  .subscription__scooter-visible_i {
    left: 30%; }

  .icon__logo {
    width: 176px;
    height: 50px; }
  .icon__stamp {
    bottom: 61px;
    left: 3px;
    width: 120px; }
  .icon__stamp-scooter {
    left: 30%; }
  .icon__advantages {
    margin-right: 0;
    margin-bottom: 16px; }

  .text__basic {
    font-size: 24px;
    line-height: 120%;
    /* 28.8px */
    max-width: 445px; }

  .event__inner-sm {
    display: none; }
  .event__inner-md {
    display: flex; } }
@media (min-width: 1240px) {
  .hero {
    height: 640px; }
    .hero__text h1 {
      font-size: 70px;
      line-height: 70px; }
    .hero__img img {
      bottom: -125px;
      left: -120px;
      width: 640px; }

  .icon__stamp {
    bottom: 60px;
    left: 55px;
    width: 155px; }

  h3 {
    margin-bottom: 48px; }

  .event__inner-md {
    margin-top: 69px; }

  .subscription__scooter_i {
    top: 50%; } }
@media (min-width: 1440px) {
  .hero {
    height: 804px; }
    .hero__text h1 {
      font-size: 72px;
      line-height: 72px; }
    .hero__img img {
      bottom: -200px;
      width: 744px;
      left: -115px; }
    .hero .icon__stamp {
      bottom: 25px;
      left: 80px;
      width: 195px; }

  .event__inner-md-img {
    width: 456px;
    height: 456px; }
  .event__right {
    margin-top: -215px; }

  .icon__coffee {
    bottom: -150px; }
  .icon__geolocation {
    top: -135px; } }

/*# sourceMappingURL=style.css.map */
