@font-face {
  font-family: 'YandexFontMedium';
  src: url('../fonts/text-medium.woff') format('woff');
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: 'YandexFont';
  src: url('../fonts/text-black.woff') format('woff');
  font-weight: 900;
  font-style: bold;
}

@font-face {
  font-family: 'YandexFontRegular';
  src: url('../fonts/text-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
