$clrt: transparent;
//$color-yellow-dark: darken($color-yellow, 20%);
//$color-yellow-light: lighten($color-yellow, 20%);

$gradient1: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2));
$gradient2: linear-gradient(90deg, rgba(255, 92, 77, 0.2) 0%, rgba(235, 70, 159, 0.2) 25%, rgba(131, 65, 239, 0.2) 72%, rgba(63, 104, 249, 0.2) 100%);

$color-text: rgba(33, 32, 31, 1);

$color1: rgba(224, 184, 255, 1);
$color2: rgba(182, 185, 255, 1);
$color3: rgba(241, 241, 241, 0.6);

$mixedColor: mix($color1, mix($color2, $color3, 60%), 60%);
$colorPriceSale: rgba(red($mixedColor), green($mixedColor), blue($mixedColor), 0.6);

$colorPrice: rgba(224, 184, 255, 1);
$colorPrice1: rgba(182, 185, 255, 1);




//:root {
//  --swiper-theme-color: #FFCC00;
//  --swiper-pagination-bullet-horizontal-gap: calc(15px / 2);
//}

.container {
  margin: 0 32px 0 32px;
  @media (min-width: 550px) {
    margin:0 45px 0 45px;
  }
  @media (min-width: 576px) {
    margin:0 80px 0 80px;
  }
  @media (min-width: 600px) {
    margin:0 100px 0 100px;
  }
  @media (min-width: 768px) {
    margin: 0 140px 0 140px;
  }
  @media (min-width: 992px) {
    margin:0 200px 0 200px;
  }
  @media (min-width: 1440px) {
    margin:0 262px 0 262px;
  }
  @media (min-width: 1780px) {
    margin:0 380px 0 380px;
  }
  @media (min-width: 1920px) {
    margin:0 400px 0 400px;
  }
}

.button {
  //позиционирование
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;

  //цвета
  //color: $color-dark;
  //background-color: $color-yellow;

  //для невыделения текста
  &::selection {
    background: $clrt;
  }
  &_active {
    //background-color: $color-yellow-dark;
  }
  &:hover {
    //background-color: $color-warning;
  }
  &:active {
    //background-color: $color-sky;
  }

}



.text {
  //шрифт
  font-size: 16px;
  color: $color-text;
  word-break: keep-all;
  &__size{
    &_13{
      font-size: 13px;
    }
  }
}
h1{
  line-height: 36px;
  font-weight: 900;
  font-size: 32px;
}


.icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo{
    width: 112.4px;
    height: 32px;
    margin: 32px 0;
  }
  &__stamp{
    width: 79.932px;
    height: 79.932px;
    transform: rotate(3.699deg);
    position: absolute;
    bottom: 53px;
    left: 70px;
  }
}






.align-center {
  text-align: center;
}
.v-center {
  margin: auto 0;
}

.pt-25{
  padding-top: 25px;
}
.pb-25{
  padding-bottom: 25px;
}
.pl-25{
  padding-left: 25px;
}
.pr-25{
  padding-right: 25px;
}

.mb-25{
  margin-bottom: 25px;
}
.ml-25{
  margin-left: 25px;
}
.d-flex{
  display: flex;
}

.dn {
  display: none;
}

.opacity-7 {
  opacity: 70%;
}









