//?-------------------------------------------
//*_____0-xs-0______-->320--______0-xs-0______
//?-------------------------------------------

@media (min-width: 375px) {
}


@media (min-width: 510px) {
  //!----hero----1--
  .hero{
    height: 370px;
    &__inner{
      flex-direction: row;

    }
    &__img{
      height: auto;
      img{
        left: -160px;
        height: auto;
      }
    }
  }

  //!----icon----00--
  .icon {
    &__stamp{
      bottom: 65px;
      left: -75px;
    }
  }
}

//?------------------------------------------
//*_____1-sm-1______--768--______1-sm-1______
//?------------------------------------------

@media (min-width: 768px) {
  //!----hero----1--
  .hero{
    height: 460px;
    &__inner{
      padding-top: 50px;
    }
    &__text{
      h1{
        font-size: 45px;
        line-height: 45px;
      }
    }
    &_description{
      font-size: 22px;
    }
    &__img{
      img{
        bottom: -55px;
        left: -100px;
        width: 405px;
      }
    }
  }

  //!----icon----00--
  .icon {
    &__stamp{
      bottom: 45px;
      left: 10px;
      width: 100px;
    }
  }
}

//?------------------------------------------
//*_____2-md-2______--992--______2-md-2______
//?------------------------------------------

@media (min-width: 992px) {
  //!----hero----1--
  .hero{
    height: 530px;
    &__text{
      h1{
        font-size: 60px;
        line-height: 55px;
      }
      &_description{
         font-size: 24px;
        line-height: 31.2px;
       }
      &_price{
        height: 30px;
      }
      &_price-sale{
        height: 30px;
      }
    }
    &__img{
      img{
        bottom: -75px;
        left: -135px;
        width: 505px;
      }
    }
  }

  //!----advantages----2--
  .advantages{
    margin-bottom: 128px;
    &__head{
      font-size: 56px;
      margin-bottom: 48px;
      max-width: 680px;
    }
    &__inner{
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 61px;
      grid-column-gap: 112px;
      font-size: 24px;
    }
    &__item{
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }
  .subscription{
    &__inner{
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 90px;
    }
    &__scooter{
      display: block;
    }
    &__scooter-visible{
      &_i{
        left: 30%;
      }
    }
  }

  //!----icon, h3----00--
  .icon {
     &__logo{
       width: 176px;
       height: 50px;
     }
    &__stamp{
      bottom: 61px;
      left: 3px;
      width: 120px;
   }
    &__stamp-scooter{
      left: 30%;
    }
    &__advantages{
      margin-right: 0;
      margin-bottom: 16px;
    }

 }
  .text {
    &__basic{
      font-size: 24px;
      line-height: 120%; /* 28.8px */
      max-width: 445px;
    }
  }
  .event{
    &__inner-sm{
      display: none;
    }
    &__inner-md{
      display: flex;
    }
  }
}


//?-------------------------------------------
//*_____3-lg-3______--1240--______3-lg-3______
//?-------------------------------------------


@media (min-width: 1240px) {
  //!----hero----1--
  .hero{
    height: 640px;
    &__text{
      h1{
        font-size: 70px;
        line-height: 70px;
      }
    }
    &__img{
      img{
        bottom: -125px;
        left: -120px;
        width: 640px;
      }
    }
  }

  //!----icon----00--
  .icon {
    &__stamp{
      bottom: 60px;
      left: 55px;
      width: 155px;
    }
  }
  h3{
    margin-bottom: 48px;
  }

  .event{
    &__inner-md{
      margin-top: 69px;
    }
  }
  .subscription{
    &__scooter{
      &_i{
        top: 50%;
      }
    }
  }
}

@media (min-width: 1440px) {
  //!----hero----1--
  .hero{
    height: 804px;
    &__text{
      h1{
        font-size: 72px;
        line-height: 72px;
      }
    }
      &__img{
        img{
          bottom: -200px;
          width: 744px;
          left: -115px;
        }
      }

    .icon {
      &__stamp{
        bottom: 25px;
        left: 80px;
        width: 195px;
      }
    }
  }
  .event{
    &__inner-md-img{
        width: 456px;
        height: 456px;
    }
    &__right{
       margin-top: -215px;
     }
  }
  .icon {
    &__coffee{
      bottom: -150px;
    }
    &__geolocation{
      top: -135px;
    }
  }

}


@media (min-width: 1700px) {
}
@media (min-width: 1920px) {
}