//?-------------------------------------------
//*_____0-xs-0______-->320--______0-xs-0______
//?-------------------------------------------

@media (min-width: 375px) {
}


@media (min-width: 510px) {
  .hero{
    &__inner{
      flex-direction: row;
    }
    &__img{
      height: auto;
      img{
        left: -160px;
        height: auto;
      }
    }
  }
  .icon {
    &__stamp{
      bottom: 65px;
      left: -75px;
    }
  }
}

//?------------------------------------------
//*_____1-sm-1______--768--______1-sm-1______
//?------------------------------------------

@media (min-width: 768px) {
  //!----hero----1--
  .hero{
    &__inner{
      padding-top: 50px;
    }
    &__text{
      h1{
        font-size: 45px;
        line-height: 45px;
      }
    }
    &_description{
      font-size: 22px;
    }
    &__img{
      img{
        bottom: -55px;
        left: -100px;
        width: 405px;
      }
    }
  }
  .icon {
    &__stamp{
      bottom: 45px;
      left: 10px;
      width: 100px;
    }
  }
}

//?------------------------------------------
//*_____2-md-2______--992--______2-md-2______
//?------------------------------------------

@media (min-width: 992px) {
  .hero{
    &__text{
      h1{
        font-size: 60px;
        line-height: 55px;
      }
      &_description{
         font-size: 24px;
        line-height: 31.2px;
       }
      &_price{
        height: 30px;
      }
      &_price-sale{
        height: 30px;
      }
    }
    &__img{
      img{
        bottom: -75px;
        left: -135px;
        width: 505px;
      }
    }
  }
  .icon {
     &__logo{
       width: 176px;
       height: 50px;
     }
    &__stamp{
      bottom: 61px;
      left: 3px;
      width: 120px;
   }
 }
}

//?-------------------------------------------
//*_____3-lg-3______--1240--______3-lg-3______
//?-------------------------------------------


@media (min-width: 1240px) {
  .hero{
    &__text{
      h1{
        font-size: 70px;
        line-height: 70px;
      }
    }
    &__img{
      img{
        bottom: -125px;
        left: -120px;
        width: 640px;
      }
    }
  }
  .icon {
    &__stamp{
      bottom: 60px;
      left: 55px;
      width: 155px;
    }
  }
}

@media (min-width: 1440px) {
  .hero{
    &__text{
      h1{
        font-size: 72px;
        line-height: 72px;
      }
    }
      &__img{
        img{
          bottom: -200px;
          width: 744px;
          left: -115px;
        }
      }

    .icon {
      &__stamp{
        bottom: 25px;
        left: 80px;
        width: 195px;
      }
  }
}
}

@media (min-width: 1700px) {

}

@media (min-width: 1920px) {

}